html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*Header*/
.fs-header-inner {
    display: flex; /*Laver flexgrid*/
    justify-content: space-between; /*Laver mellemrum mellem hvert element*/
    align-items: center; /*Centrerer*/
}

.menu ul {
    display: flex;
    gap: 4rem; /*Afstand mellem links*/
    list-style: none; /*Fjerner bullets*/
    margin: 0;
    padding: 0;
    margin-left: 400px; /*Rykker menu til højre*/
}

.menu a {
    font-size: 20px;
    text-decoration: none; /*Fjerner understreg */
    color: black; /*Gør link sort*/
}



.logo {
    font-size: 40px;
}

.tagline {
    font-size: 20px;
    color: gray;
}

.profil {
    margin-right: 20px; /*Rykker profil længere til venstre*/
}

    .profil ul {
        font-size: 40px;
        list-style: none;
    }


/*Hero*/

.Hero {
    margin-top: 2rem;
}

.Hero-inner {
    background-image: linear-gradient(to right, green, yellow);
    border-radius: 40px;
    padding: 2rem;
    width: 100%;
    margin: 0 auto;
}

.overskrift {
    font: bold 50px "Poppins", sans-serif;
    color: white;
}

.underoverskrift {
    margin-top: -25px;
    font: 30px "Poppins", sans-serif;
    color: white;
}

.filterbar {
    display: flex;
    justify-content: center;
    gap: 7rem;
}

    .filterbar select,
    .filterbar input[type="date"] {
        border-radius: 200px;
        padding: 0.5rem 1.5rem;
        border: none;
        outline: none;
        background-color: #3bb273;
        color: #e5fff2;
        font: "Poppins", sans-serif;
        font-size: 18px;
    }

    .filterbar input[type="submit"] {
        border-radius: 200px;
        padding: 0.5rem 1.5rem;
        border-color: darkgreen;
        outline: none;
        background-color: white;
        font: 20px "Poppins", sans-serif;
        color: #3bb273
    }

.vælg-hold-overskrift{
    margin-top: 40px;
    font: "Poppins", sans-serif;
}

.hold{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 1rem;
   
}


.hold-arrow{
    border:none;
    font-size: 50px;
}

.hold-liste {
    display: flex; /*De forskellige hold står på linje*/
    overflow-x: hidden; /*Skjuler det, der er udenfor vinduet*/
    scroll-snap-type: x mandatory; /*Sikrer at scroll rammer et nyt card*/
    flex: 1; /*Giver samme længde uafhængig af indhold*/
    padding: 10px;
    margin-left: 10px;
}

.hold-card{
    flex: 0 0 25%; /*Element må ikke vokse, krympe og er baseret på width*/
    max-width: 300px; /*Størrelse på card*/
    min-width: 160px;
    margin-right: 0.5rem; /*Afstand mellem cards*/
    margin-left: 0.5rem;
    scroll-snap-align: start; /*Starter scroll snap ved starten af elementet*/
}

    .hold-card input[type="submit"] {
        border-radius: 200px; /*Rundede kanter*/
        margin-top: 10px; /*Rykker knap ned*/
        background-color: #3bb273;
        border:none;
    }

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.close{
        color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
